<?xml version="1.0"?>
<launch>
<!--
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fly_test)/rviz/fly_test.rviz" />
  -->
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
  <param name="serial_baudrate"     type="int"    value="115200"/>
  <param name="frame_id"            type="string" value="laser"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  </node>
  
  <node pkg="fly_test" type="camera_pub.py" name="camera_pub" output="screen" args="-d $(find fly_test)/src/camera_pub.py"/>
  <node pkg="fly_test" type="lidar_scan_process.py" name="lidar_scan_process" output="screen" args="-d $(find fly_test)/src/lidar_scan_process.py"/> 
  <!--
  <node pkg="fly_test" type="rosbag_record.py" name="rosbag_record" output="screen" args="-d $(find fly_test)/src/rosbag_record.py"/>
  <node pkg="fly_test" type="video_collect.py" name="video_collect" output="screen" args="-d $(find fly_test)/src/video_collect.py"/>
  -->
</launch>
