<?xml version="1.0"?>
<launch>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lidar_3d_test)/rviz/develop_camera_lidar.rviz" />


  <node pkg="lidar_3d_test" type="camera_pub.py" name="camera_pub" output="screen" args="-d $(find lidar_3d_test)/src/camera_pub.py"/>

  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
  <param name="serial_baudrate"     type="int"    value="115200"/>
  <param name="frame_id"            type="string" value="laser"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  </node>
  
  <node pkg="lidar_3d_test" type="fusion_demo.py" name="fusion_demo" output="screen" args="-d $(find fusion_sensor)/src/fusion_demo.py"/>
  <node pkg="fusion_sensor" type="lidar_scan_process.py" name="lidar_scan_process" output="screen" args="-d $(find fusion_sensor)/src/lidar_scan_process.py"/>

  <include file="$(find mavros)/launch/apm.launch"/>
</launch>
